In [70]:
import nltk
import re
import string
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.tokenize import word_tokenize, sent_tokenize
from wordcloud import WordCloud, STOPWORDS

In [71]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bharanikumar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [72]:
Dataset1 = pd.read_csv("D:/news.csv")

In [73]:
Dataset1.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [74]:
Dataset1["Article"] = Dataset1["title"] + Dataset1["text"]
Dataset1.sample(frac = 1) 


Dataset1 = Dataset1.loc[:,['Article','label']]
Dataset1 = Dataset1.dropna()

In [75]:
Dataset1

                                                Article label
0     You Can Smell Hillary’s FearDaniel Greenfield,...  FAKE
1     Watch The Exact Moment Paul Ryan Committed Pol...  FAKE
2     Kerry to go to Paris in gesture of sympathyU.S...  REAL
3     Bernie supporters on Twitter erupt in anger ag...  FAKE
4     The Battle of New York: Why This Primary Matte...  REAL
...                                                 ...   ...
6330  State Department says it can't find emails fro...  REAL
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...  FAKE
6332  Anti-Trump Protesters Are Tools of the Oligarc...  FAKE
6333  In Ethiopia, Obama seeks progress on peace, se...  REAL
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...  REAL

[6335 rows x 2 columns]

In [76]:
#DATASET2

In [77]:
Dataset2true = pd.read_csv("D:/True.csv")
Dataset2fake = pd.read_csv("D:/Fake.csv")

In [78]:
Dataset2true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [79]:
Dataset2fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [80]:
Dataset2true['label']= 'REAL'
Dataset2fake['label']= 'FAKE'
Dataset2 = pd.concat([Dataset2true, Dataset2fake])
Dataset2["Article"] = Dataset2["title"] + Dataset2["text"]
Dataset2.sample(frac = 1) #Shuffle 100%
Dataset2 = Dataset2.loc[:,['Article','label']]

In [81]:
Dataset2

                                                 Article label
0      As U.S. budget fight looms, Republicans flip t...  REAL
1      U.S. military to accept transgender recruits o...  REAL
2      Senior U.S. Republican senator: 'Let Mr. Muell...  REAL
3      FBI Russia probe helped by Australian diplomat...  REAL
4      Trump wants Postal Service to charge 'much mor...  REAL
...                                                  ...   ...
23476  McPain: John McCain Furious That Iran Treated ...  FAKE
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  FAKE
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  FAKE
23479  How to Blow $700 Million: Al Jazeera America F...  FAKE
23480  10 U.S. Navy Sailors Held by Iranian Military ...  FAKE

[44898 rows x 2 columns]

In [82]:
#DATASET3

In [83]:
Dataset3 = pd.read_csv("D:/data.csv")

In [84]:
Dataset3["Article"] = Dataset3["Headline"] + Dataset3["Body"]
Dataset3["label"] = Dataset3["Label"]
Dataset3.sample(frac = 1) 

Dataset3.label[Dataset3.label == 1 ] = 'REAL'
Dataset3.label[Dataset3.label == 0 ] = 'FAKE'


Dataset3 = Dataset3.loc[:,['Article','label']]
Dataset3 = Dataset3.dropna()

<ipython-input-84-ee28828144bb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dataset3.label[Dataset3.label == 1 ] = 'REAL'

In [85]:
Dataset3

                                                Article label
0     Four ways Bob Corker skewered Donald TrumpImag...  REAL
1     Linklater's war veteran comedy speaks to moder...  REAL
2     Trump’s Fight With Corker Jeopardizes His Legi...  REAL
3     Egypt's Cheiron wins tie-up with Pemex for Mex...  REAL
4     Jason Aldean opens 'SNL' with Vegas tributeCou...  REAL
...                                                 ...   ...
4003  CNN and Globalist Exposed - Steve Quayle and A...  FAKE
4004  Trends to WatchTrends to Watch\n% of readers t...  FAKE
4005  Trump Jr. Is Soon To Give A 30-Minute Speech F...  FAKE
4007  China to accept overseas trial data in bid to ...  REAL
4008  Vice President Mike Pence Leaves NFL Game Beca...  FAKE

[3988 rows x 2 columns]

In [86]:
allset = [Dataset1, Dataset2, Dataset3]
news = pd.concat(allset)

In [87]:
news.shape

(55221, 2)

In [88]:
x_train,x_test,y_train,y_test = train_test_split(news['Article'], news['label'], test_size=0.2)

In [89]:
y_train=y_train.astype('str')
y_test=y_test.astype('str')

In [90]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LogisticRegression())])

In [91]:
model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)

In [92]:
filename='finalized_model.sav'
pickle.dump(model,open(filename,'wb'))

In [93]:
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))
Logisticmodel_accuracy = round(accuracy_score(y_test, prediction)*100,2)

accuracy: 96.31%

In [94]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

        FAKE       0.96      0.97      0.96      5764
        REAL       0.97      0.95      0.96      5281

    accuracy                           0.96     11045
   macro avg       0.96      0.96      0.96     11045
weighted avg       0.96      0.96      0.96     11045

In [95]:
print(confusion_matrix(y_test, prediction))

[[5594  170]
 [ 238 5043]]

In [96]:
with open('model.pickle', 'wb') as handle:
    pickle.dump(model, handle, protocol=pickle.HIGHEST_PROTOCOL)